body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1500px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content {
    background-color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 489px;
    height: 190px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 17px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0%;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0%;
    margin-left: 100px;
    padding-top: 8px;
    font: 1em sans-serif;
}


.header1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1100px;
    margin-left: 100px;
}

.a-link {
    margin-right: 219px;
    margin-top: 10px;
    border-radius: 10px;
    background:#3882F6;
    padding: 5px;
    width: 80px;
    height: 20px;
    text-align: center;
    font-weight: 550;
}

.placeholder-image-box {
    margin-right: 800px;
    border-radius: 1px;
    background: #989da4;
    padding: 20px;
    width: 489px;
    height: 180px;
}

.image-p {
    padding: 0%;
    margin: 0%;
    text-align: center;
    margin-top: 85px;
}